
#about{
    background: rgba(0, 0, 0, 0.06);
    height: auto;
    padding: 20px;
    border-top: 4px solid rgba(0, 0, 0, 0.06);
    border-bottom: 4px solid rgba(0, 0, 0, 0.06);
}
.heading {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
  text-align: center;
  position: relative;
}
.heading::before {
  content: '';
  width: 50px;
  height: 3px;
  background-color: #007BFF;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
.about-accountant {
    width: 80%;
    margin: auto;
  }
  .accountant-details{
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px
  }

  
  .accountant-details p {
    font-size: 16pt;
    line-height: 1.5;
    transition: color 0.3s ease;
  }
  
  .accountant-skills ul {
    list-style-type: none;
  }
  
  .accountant-skills li {
    margin-bottom: 5px;
    font-size: 17pt;
    line-height: 1.5;
    transition: color 0.3s ease;
    position: relative;
  }
  .skills {
    list-style-type: none;
    padding-left: 0;
  }
  .skill {
    background-color: #e0e0e0;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    color: #333;
  }
  
  
  /* Education Component Styles */
  .education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
   }
  
   .education-entry {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 20px 50px -10px rgba(196, 196, 196, 0.2);
    border-radius: 12px;
    padding: 27px;
   }
  
  .education-icon {
    color: #0056b3;
    margin-right: 0.5rem;
  }
  .element-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
   }
  .element-paragraph {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  
  
  .education-heading {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
  }
  .experience-entry {
    margin-bottom: 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  }
  .experience-entry {
    margin-bottom: 20px;
    border-left: 4px solid #007bff; /* Adjust color as needed */
    padding: 20px;
  }
  
  
  
  .employer {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }
 
  .experience-date {
    font-size: 0.9em;
    color: #777;
    margin-top: 4px;
  }
   .experience-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  .experience-company {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .accomplishments-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 10px;
  }
  
  .accomplishments {
    position: relative;
    padding: 10px;
    font-size: 16pt;
    transition: color 0.3s ease;
    border-radius: 5px;
    
 
  }
  
  
  @media screen and (max-width: 767px) {
    /* About Section */
    #about {
      padding: 3px;
    }
  
    .about-accountant {
      width: 90%; /* Adjust width as needed */
      margin: auto;
    }
  
    .accountant-details p {
      font-size: 14pt;
    }
  
    .accountant-skills li {
      font-size: 14pt;
    }
  
    /* Skills Section */
    .skills {
      padding-left: 10px;
    }
  
    .skill {
      font-size: 14pt;
      margin-bottom: 8px;
    }
  
    /* Education Section */
    .education-container {
      flex-direction: column; /* Display entries in a column */
      padding: 5px;
    }
  
    .education-entry {
      padding: 10px;
    }
  
    .element-title {
      font-size: 1.2rem;
    }
  
    .element-paragraph {
      font-size: 1rem;
    }
  
    .education-heading {
      font-size: 1.1rem;
    }
  
    /* Experience Section */
    .experience-entry {
      padding: 10px;
    }
    
    .experience-title{
      font-size: 15pt;
      
    }
  
    .experience-entry h3 {
      margin-bottom: 8px;
    }
  
    .accomplishments-list {
      padding-left: 15px;
    }
  
    .accomplishments {
      font-size: 14pt;
      margin-bottom: 8px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1500px) {
    .education-container {
      flex-direction: column; /* Display entries in a column */
      padding: 5px;
    }
  
    .education-entry {
      padding: 10px;
    }

  }