/* homepage.css */

.homepage {
  padding: 20px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.03);
}


.accountant-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: auto;
  height: auto; /* Adjusted for responsiveness */
  height: 90vh;
  width: 80%;
}

.preview-text {
  flex: 1;
  max-width: 700px;
  transition: color 0.3s ease;
  align-items: center;
  padding: 27px;
  background: rgba(0, 0, 0, 0.03);
  margin-top: 30px;
}

.accountant-name{
  font-size: 3rem;
  font-weight: 600;
}

.accountant-name span{
  background: -webkit-linear-gradient(
    top left,
    rgba(17, 71, 255, 0.64),
    rgba(17, 71, 252, 0.62)

  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.paragraph-{
  font-size: 17pt;
  line-height: 1.5;
  transition: color 0.3s ease;
}



.contactButton {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border: 2px solid #007bff; /* Blue color, adjust as needed */
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.contactButton.primary{
  background-color: #007bff; /* Blue color, adjust as needed */
  color: #fff;
}
.contactButton.primary:hover{
  border: 2px solid #007bff;
  color: #007bff; 
  background-color: #fff;
}
.contactButton.secondary{
  color: #007bff; 
}
.contactButton.secondary:hover{
  background-color: #007bff; /* Blue color, adjust as needed */
  color: #fff;
}

.contactButton.primary{
  margin-bottom: 10px;
}

.accountant-image {
  width: 100%;
  max-width: 500px;
  max-height: 600px;
  border-radius: 25px;
  margin-right: 50px;

  
}

@media screen and (max-width: 767px) {
  .homepage {
    padding:  0 6px; /* Adjusted padding for small screens */
    margin-top: 75px;
    width: auto;
    
  }

  .accountant-preview {
    flex-direction: column-reverse; /* Stacked layout on small screens */
    height: auto; /* Adjusted height for responsiveness */
    width: 100%;
  }

  .accountant-image {
    margin-top: 10px;
    width: 100%; /* Adjusted width for responsiveness */
    margin-right: 0;
    max-width: 280px;
    max-height: 335px;
    object-fit: fill;
  }

  .content {
    height: auto;
    margin: auto;
  }
  .preview-text {
    padding: 13px;
  }
  
  .accountant-name {
    font-size: 2rem;
  }
  .paragraph- {
    font-size: 14pt;
  }

  .contactButton {
    width: auto;
    margin-bottom: 0;
    margin-right: 10px; /* Adjust as needed for spacing between buttons */
    text-align: center;
  }
  .buttons {
    flex-direction: row;
    justify-content: center;
  }

  .iconButton {
    height: 2.2em; /* Adjusted height for smaller screens */
    width: 2.8em; /* Adjusted width for smaller screens */
  
  }
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .homepage {
    padding:  0 6px; /* Adjusted padding for small screens */
    margin-top: 100px;
    width: auto;
  }

  .accountant-preview {
    flex-direction: column-reverse; /* Stacked layout on small screens */
    height: auto; /* Adjusted height for responsiveness */
    width: 100%;
  }
  .accountant-image {
    margin-top: 20px;
    max-width: 380px;
    max-height: 455px;
    margin-bottom: 3px;
  }

  .contactButton {
    width: auto;
    margin-right: 10px; /* Adjusted margin for spacing between buttons */
    text-align: center;
  }
  .preview-text {
    max-width:80%;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
   
  }
}
