/* HomePage.css */

.homepage {
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  
}

.accountant-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: auto;
  height: auto; /* Adjusted for responsiveness */
  height: 90vh;
  width: 80%;
}

.accountant-image {
  width: 400px; /* Adjust the width as needed */
  height: auto;
  border-radius: 50%;
  margin-right: 50px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16), 0px 0px 0px 3px rgba(51, 51, 51,1);
}

.preview-text {
  flex: 1;
  max-width: 700px;
  padding: 10px;
  border-radius: 10px;
  transition: color 0.3s ease;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgba(27, 31, 36, 0.04);
  
}


.accountant-name{
  font-size: 3rem;
  font-weight: 600;
  

}
.accountant-name span{
  background: -webkit-linear-gradient(
    top left,
    rgba(17, 71, 255, 0.64),
    rgba(17, 71, 252, 0.62)

  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}
.paragraph-{
  font-size: 17pt;
  line-height: 1.5;
  transition: color 0.3s ease;
}



.contactButton {
  background: rgb(0,140,255);
  color: white;
  font-family: inherit;
  padding: 0.5em;
  padding-left: 1.2em;
  font-size: 18px;
  font-weight: 600;
  border-radius: 1em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 3em;
  padding-right: 3.5em;

  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
}
.buttons{
  display: flex;
  gap :20px
}
.iconButton {
  margin-left: 1.2em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4em;
  width: 2.4em;
  border-radius: 1.2em;
  right: 0.4em;
  transition: all 0.3s;
}

.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.2em 0.2em #228b22;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.1em 0.1em #228b22;
}

/* Styles for Small Screens */
/* Styles for Small Screens */
@media screen and (max-width: 767px) {
  .homepage {
    padding: 4px; /* Adjusted padding for small screens */
    margin-top: 80px;
    width: auto;
  }

  .accountant-preview {
    flex-direction: column-reverse; /* Stacked layout on small screens */
    height: auto; /* Adjusted height for responsiveness */
    width: 100%;
  }

  .accountant-image {
    width: 100%; /* Adjusted width for responsiveness */
    margin-right: 0;
    max-width: 280px;
  }

  .content {
    height: auto;
    margin: auto;
  }
  .preview-text {
    padding: 13px;
  }
  
  .accountant-name {
    font-size: 2rem;
  }
  .paragraph- {
    font-size: 14pt;
  }
  .contactButton {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .buttons{
    display: inline-block;
    margin: auto;
    
  }

  .iconButton {
    height: 2.2em; /* Adjusted height for smaller screens */
    width: 2.8em; /* Adjusted width for smaller screens */
  
  }
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .homepage {
    padding: 10px; /* Adjusted padding for small screens */
    margin-top: 100px;
    width: auto;
  }

  .accountant-preview {
    flex-direction: column-reverse; /* Stacked layout on small screens */
    height: auto; /* Adjusted height for responsiveness */
  }

  .accountant-image {
    width: 100%; /* Adjusted width for responsiveness */
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 500px;
  }

  .content {
    height: auto;
    margin: auto;
  }
  .preview-text {
    padding: 13px;
  }
  
  
  .contactButton {
    margin-bottom: 15px;
  }
  .buttons{
    display: inline-block;
    margin: auto;
    
  }

  .iconButton {
    height: 2.2em; /* Adjusted height for smaller screens */
    width: 2.8em; /* Adjusted width for smaller screens */
  
  }
  

}
