  
 
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .skill-card {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px rgba(209, 213, 219,1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .skill-icon {
    font-size: 2.5rem;
    color: #3498db;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .skill-card:hover .skill-icon {
    transform: scale(1.1);
  }
  
  .skill-title {
    color: #2c3e50;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  
  .skill-description {
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    
  
    .skills-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1.5rem;
    }
  
    .skill-card {
      padding: 1.5rem;
    }
  
    .skill-icon {
      font-size: 2rem;
    }
  
    .skill-title {
      font-size: 1.1rem;
    }
  
    .skill-description {
      font-size: 0.9rem;
    }
  }